        <aside class="column is-2 is-narrow-mobile">
          <div class="menu dashboard-menu">
            <h4 class="menu-label menu-title title has-text-white">
              <%= guild.name %>
            </h4>
            <p class="menu-label has-text-white">
              General
            </p>
            <ul class="menu-list">
              <li><a href="" class="menu-item has-text-white">Overview</a></li>
            </ul>
            <p class="menu-label has-text-white">
              Modules
            </p>
            <ul class="menu-list">
              <li><a href="" class="menu-item has-text-white">Greetings</a></li>
            </ul>
          </div>
        </aside>